::selection{

}

*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
}

.blog-body{
    width: 900px;
    border: 10px solid #bdc3c7;
    margin: 0 auto;
    margin-top: 10px;
    padding: 12px;
}

.blog-body ul{
    background-color: #bdc3c7;
    text-align: center;
    width: 100%;
    display: flex;
}

.blog-body ul li{
    display: inline-block;
    transition: .4s;
    width: 25%;

}

.blog-body ul li a{
    text-decoration: none;
    color: #000;
    padding: 16px;
    display: block;
    margin:0;
}

.blog-body ul li a:hover{
    transition: .4s;
    background-color: rgb(119, 119, 119);
}

.dateTitle{
    color: #3498db;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 12px;
}

.section-header{
    border-left: 3px solid #bdc3c7;
    padding-left: 10px;
    margin-bottom: 24px;
}

.section-header h1{
    margin: 0;
}

.section-desc{
    margin: 0;
}

.divider{
	position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
	height: 2px;
}

.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, rgb(99, 101, 105), transparent);
}